1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [101]:
ciudades =['Asuncion', 'Buenos Aires', 'Santiago', 'Brasilia', 'Montevideo' ]

In [102]:
print(ciudades)

['Asuncion', 'Buenos Aires', 'Santiago', 'Brasilia', 'Montevideo']

2) Imprimir por pantalla el segundo elemento de la lista

In [103]:
print(ciudades[1])

Buenos Aires

In [104]:
print(ciudades[1:4])

['Buenos Aires', 'Santiago', 'Brasilia']

4) Visualizar el tipo de dato de la lista

In [105]:
type(ciudades)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [106]:
print(ciudades[2:(len(ciudades))])

['Santiago', 'Brasilia', 'Montevideo']

In [107]:
print(ciudades[2:])

['Santiago', 'Brasilia', 'Montevideo']

6) Visualizar los primeros 4 elementos de la lista

In [108]:
print (ciudades[:4])

['Asuncion', 'Buenos Aires', 'Santiago', 'Brasilia']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [109]:
ciudades.append('Asuncion')

In [110]:
ciudades.append ('Jujuy')

In [111]:
print(ciudades)

['Asuncion', 'Buenos Aires', 'Santiago', 'Brasilia', 'Montevideo', 'Asuncion', 'Jujuy']

8) Agregar otra ciudad, pero en la cuarta posición

In [112]:
ciudades.insert(3,'Tunuyán')

9) Concatenar otra lista a la ya creada

In [113]:
ciudades_europeas=['Madrid','Barcelona','Paris']
ciudades.extend(ciudades_europeas)

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [114]:
ciudades.index('Asuncion') #buscó solo el primero

0

11) ¿Qué pasa si se busca un elemento que no existe?

In [115]:
ciudades.index('Mendoza')

ValueError: 'Mendoza' is not in list

12) Eliminar un elemento de la lista

In [ ]:
del ciudades[0]

In [ ]:
ciudades.remove('Buenos Aires')

13) ¿Qué pasa si el elemento a eliminar no existe?

In [ ]:
ciudades.remove('Berlin')

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [ ]:
ultimo=ciudades.pop()

In [ ]:
print(ciudades)

['Santiago', 'Tunuyán', 'Brasilia', 'Montevideo', 'Asuncion', 'Jujuy', 'Madrid', 'Barcelona']

In [ ]:
print(ultimo)

Paris

15) Mostrar la lista multiplicada por 4

In [ ]:
print(ciudades*4)

['Santiago', 'Tunuyán', 'Brasilia', 'Montevideo', 'Asuncion', 'Jujuy', 'Madrid', 'Barcelona', 'Santiago', 'Tunuyán', 'Brasilia', 'Montevideo', 'Asuncion', 'Jujuy', 'Madrid', 'Barcelona', 'Santiago', 'Tunuyán', 'Brasilia', 'Montevideo', 'Asuncion', 'Jujuy', 'Madrid', 'Barcelona', 'Santiago', 'Tunuyán', 'Brasilia', 'Montevideo', 'Asuncion', 'Jujuy', 'Madrid', 'Barcelona']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [ ]:
lista=[]
for numero in range (1,21):
    lista.append (numero)
tupla_nro=tuple(lista)
print(tupla_nro)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [ ]:
print(tupla_nro[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [ ]:
tupla_nro.index(20)

19

In [ ]:
tupla_nro.index(30)

ValueError: tuple.index(x): x not in tuple

In [ ]:
print(20 in tupla_nro)

True

In [ ]:
print(30 in tupla_nro)

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [ ]:
ciudades.remove('Paris')

ValueError: list.remove(x): x not in list

In [ ]:
if ('Paris' in ciudades):
    
    print('Paris ya esta en la lista')
else:
    ciudades.append('Paris')

Paris ya esta en la lista

In [ ]:
'Paris' in ciudades

True

In [ ]:
ciudades.append('Paris')

In [ ]:
print(ciudades)

['Santiago', 'Tunuyán', 'Brasilia', 'Montevideo', 'Asuncion', 'Jujuy', 'Madrid', 'Barcelona', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [ ]:
ciudades.count('Paris')

2

21) Convertir la tupla en una lista

In [ ]:
lista_nro=list(tupla_nro)
print(lista_nro)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [ ]:
x,y,z=tupla_nro[:3]

In [ ]:
print(x)
print(y)

1
2

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [117]:
diccionario={'ciudad':[ciudades],'pais':['Argentina', 'Brasil', 'Paraguay'],'Continente':['America', 'Europa']}

24) Imprimir las claves del diccionario

In [119]:
for key in diccionario:
    print(key)

ciudad
pais
Continente

25) Imprimir las ciudades a través de su clave

In [123]:
print(diccionario['ciudad'])

[['Asuncion', 'Buenos Aires', 'Santiago', 'Tunuyán', 'Brasilia', 'Montevideo', 'Asuncion', 'Jujuy', 'Madrid', 'Barcelona', 'Paris']]